<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Sharp Angles</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Secure<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/parent" routerLinkActive="active">Parent</a></li>
            <li><a routerLink="/child" routerLinkActive="active">Child</a></li>
          </ul>
        </li>
        <li><a routerLink="/protected" routerLinkActive="active">Protected</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- This is where our routes will load -->